.Header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

.HeaderNav {
  display: inline-block;
  justify-content: flex-end;
}

.Header img {
  margin: 10px 20px;
}

h1 {
  color: MediumAquamarine;
}
